*.pyc
*.DS_Store
*.egg*
/dist/
/.idea
/docs/_build/
/node_modules/
build/
env

#src
*.sqlite*
*.pem
*.key
id_rsa*
id_ed25519*
.ssh/
venv
.idea
.env
!.env.example
.env.docker
media
static
/logs/
/deployment-demo/
